@mixin clearfix {
  // current-path::after
  // adds it to the parent which contains float elements
  // @include clearfix
  &::after {
    content: "";
    display: table;
    clear: both; // clear on both float left and float right
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
