// Section about belongs to home page
.section-about {
  background-color: $color-gray-light;
  padding: 25rem 0;

  // Move up a little bit to fill out the triangle shape when we clip path the header section
  margin-top: -20vh;

  @include respondFor(tab-port) {
    padding: 20rem 0;
  }
}

// Section features belongs to home page
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../img/nat-4.jpg);
  background-size: cover;

  // Make skewed design as section header
  // We can use clip-path propery like section header
  // Another trick is to use transform: skewY
  // And then skewY every child of .section-features container to the opposite direction
  transform: skewY(-7deg);

  // Move up a little bit to cover the triangle shape
  margin-top: -10rem;

  // Fix the skewY in direct child of .section-features
  // If someday we change the content inside of .section-features, it will automatically fix skewY
  // Select direct child of .section-features and fix skewY on that child
  // .section-features > row
  & > * {
    transform: skewY(7deg);
  }

  @include respondFor(tab-port) {
    padding: 15rem 0;
  }
}

// Section tours belongs to home page
.section-tours {
  background-color: $color-gray-light;

  // Make padding bottom bigger for cards
  padding: 25rem 0 15rem 0;

  // Move up a little bit to cover the triangle shape
  margin-top: -10rem;

  @include respondFor(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

// Section stories belongs to home page
.section-stories {
  padding: 15rem 0;

  // Make this container relative to positioning its child absolutely
  position: relative;

  @include respondFor(tab-port) {
    padding: 10rem 0;
  }
}

// Section booking tour belongs to home page
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respondFor(tab-port) {
    padding: 15rem 0;
  }
}

.book {
  // Solid-color gradient
  // Angle 105deg
  // At the beginning 0%: the color is $color-white with alpha of 0.9
  // At the middle 50%: the color still $color-white with alpha of 0.9
  // At the middle 50% to end (100%): the color is transparent
  // So, there is no mixed color, two color is seperated at the middle 50%
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);

  // background-size: 100%
  // background-size: 50% will split into 4 small picture
  // we can use percentage to increase/ decrease background image
  // background-size: cover is the same
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  // Book_form is the container for form component
  // Book_form sit in the left side of .book
  &__form {
    width: 50%;
    padding: 6rem;
  }
}
