@mixin clearfix {
  // current-path::after
  // adds it to the parent which contains float elements
  // @include clearfix
  &::after {
    content: "";
    display: table;
    clear: both; // clear on both float left and float right
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERIES MANAGER
/*
 * 0 - 600px:          Phone
 * 600 - 900px:        Tablet portrait
 * 900 - 1200px:       Tablet landscape
 * 1200 - 1800px:      Normal style applied
 * 1800 - ....:        Big desktop

 * $breakpoint argument choices
 * - phone
 * - tab-port stands for tablet portrait
 * - tab-land stands for tablet landscape
 * - big-desktop

 * ORDER: Base + typography > General layout + grid > Page layout > Components
 */
// 1em = 16px
// Rem doesn't work on some browsers
// Always use em in media queries
@mixin respondFor($breakpoint) {
  @if $breakpoint == phone {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // 900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    // 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
