*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.container {
  border-radius: 10px;
  max-width: 1000px;
  background-color: #eee;
  margin: 30px auto;
  font-family: sans-serif;
  font-size: 30px;
  color: #fff;

  display: grid;
  grid-template-rows:
    [header-start] 100px
    [header-end box-start] 200px
    [box-end main-start] 400px
    [main-end footer-start] 100px [footer-end];

  /* We have 3 column with the same name col-start and col-end */
  /* So it will automatically create col-start 1 / col-end-1 for the first column and so on */
  grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 0.7fr [grid-end];

  grid-gap: 30px;
}

.container > * {
  background-color: orangered;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  grid-column: col-start 1 / grid-end;
}

.sidebar {
  grid-column: col-end 3 / grid-end;
  grid-row: box-start / main-end;
}

.main {
  grid-column: col-start 1 / col-end 3;
}

.footer {
  grid-column: col-start 1 / grid-end;
}
